@tailwind base;
@tailwind components;
@tailwind utilities;

.containerr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.sticky-sidebar {
  position: sticky;
  top: 1rem;
  align-self: start;
}
